.container {
}

.wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.number {
    width: 28px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin: 13px;
}
